.board {
	margin: 30rpx auto;
	width: 600rpx;
	height: 600rpx;
	position: relative;
	box-shadow: 0 4rpx 10rpx rgba(0,0,0,0.3);
	background-color: #F0AD4E;
}
.board::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: calc(600rpx / 30) solid #F0AD4E;
}
.blocks {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.block {
	width: calc(600rpx / 15);
	height: calc(600rpx / 15);
	box-sizing: border-box;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.lattice {
	position: relative;
}
.lattice::before, .lattice::after {
	content: '';
	position: absolute;
	background-color: #333333;
}
.lattice::before {
	width: 1rpx;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}
.lattice::after {
	height: 1rpx;
	width: 100%;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.lattice:nth-child(49) .circle,
.lattice:nth-child(53) .circle,
.lattice:nth-child(57) .circle,
.lattice:nth-child(109) .circle,
.lattice:nth-child(113) .circle,
.lattice:nth-child(117) .circle,
.lattice:nth-child(169) .circle,
.lattice:nth-child(173) .circle,
.lattice:nth-child(177) .circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 10rpx;
	height: 10rpx;
	border-radius: 10rpx;
	background-color: #333333;
}
.cursor {
	width: 35rpx;
	height: 35rpx;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.cursor-line {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-between;
}
.cursor-line::before, .cursor-line::after {
	content: '';
	width: 30%;
	height: 70%;
	border-top: 3rpx solid #F1F1F1;
	box-sizing: border-box;
}
.cursor-line::before {
	border-left: 3rpx solid #F1F1F1;
}
.cursor-line::after {
	border-right: 3rpx solid #F1F1F1;
}
.cursor-bottom {
	transform: rotateX(180deg);
}