.directions {
	position: relative;
	width: 350rpx;
	height: 400rpx;
	margin: 0 auto;
}
.direction {
	width: 50rpx;
	height: 60rpx;
	background-color: rgba(255,255,255,0.6);
	position: absolute;
}
.direction::before {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -50rpx;
	width: 0;
	height: 0;
	border-top: 0 solid transparent;
	border-left: 45rpx solid transparent;
	border-right: 45rpx solid transparent;
	border-bottom: 50rpx solid rgba(255,255,255,0.6);
}
.direction-top {
	left: 50%;
	transform: translateX(-50%);
	top: 60rpx;
}
.direction-left {
	left: 0;
	top: 50%;
	transform: translateY(-50%) rotateZ(-90deg);
}
.direction-right {
	right: 0;
	top: 50%;
	transform: translateY(-50%) rotateZ(90deg);
}
.direction-bottom {
	left: 50%;
	transform: translateX(-50%) rotateZ(180deg);
	bottom: 60rpx;
}
.confirm-btn {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
	width: 100rpx;
	height: 100rpx;
	border-radius: 100rpx;
	background-color: rgba(255,255,255,0.6);
	text-align: center;
	line-height: 100rpx;
}